body {
  margin: 0;
}
#player {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: lawngreen;
}
#platform {
  position: absolute;
  width: 100vw;
  height: 1vh;
  top: 90vh;
  background-color: black;
}
#lazerbottom {
  background-color: rgba(69, 69, 69, 0);
  position: absolute;
  height: 2px;
  width: 49px;
}
#platform2 {
  position: absolute;
  width: 50vw;
  left: 35vw;
  height: 1vh;
  top: 78vh;
  background-color: black;
}
#platform3 {
  position: absolute;
  background-color: black;
  width: 25vw;
  left: 10vw;
  height: 1vh;
  top: 64vh;
}
